.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.booklayout{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.booklayout > * {
  flex: 1 1 calc(200px);
  height: auto; 
  position: relative; 
  margin: 0; 
}